@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  body {
    @apply m-0 font-[Arial] bg-background text-foreground;
  }

  h1 {
    @apply text-[18px] font-bold;
  }

  h2 {
    @apply text-[16px] font-bold;
  }
}

.price-change-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.price-change-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.price-change-exit {
  opacity: 1;
  transform: translateY(0);
}

.price-change-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}

.menu-slide-enter {
  transform: translateY(-100%);
}

.menu-slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.menu-slide-exit {
  transform: translateY(0);
}

.menu-slide-exit-active {
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out;
}